@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  animation: animate var(--duration) forwards var(--timing, linear);
  counter-reset: num var(--num);
  font-weight: bold;
  font-size: 3rem;
  font-family: sans-serif;
  padding: 2rem;
}
.number::before {
  content: counter(num);
}

@keyframes animate {
  from {
    --num: var(--from);
  }
  to {
    --num: var(--to);
  }
}
